<div class="container">
  <div class="row transparent">
    <div class="col-md-12">
        <div class="tuyin first" style="background-color: #294d79"> 
      <span class="title" >Documents</span>
       <div class="plan-name" style="color: white">Here are your recommended documents</div>
        <div class="text">
        <p style="color: white; font-size: 22px;">Based on our evaluation of your requirements, we recommend these documents and lawyers. </p>

        <div class='agreement' style="color: white; font-size: 20px;">
          <ul>
            <li>Incorporation Advice. (Recommended authorized shares and type of entity)</li>
            <li>Partnership Agreement.</li>
            <li>Employee Contract.</li>
            <li>Director Agreement.</li>
            <li>Operating Agreement (Founder's Agreement)</li>
          </ul>
        </div>
        </div>
      <!-- <button type="button" class="btn btn-defalit">Read More <span class="glyphicon glyphicon-plus"></span> </button> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1 style='color: white'>
        Select your lawyer of choice.
    </h1>
  </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                  <%= image_tag("portrait.jpg") %>
                </div>
                <div class="lawyer_details">
                    <p>
                      Kevin <br>
                      Kevin Sdn Bhd. <br>
                      12/hour <br>
                      <hr>
                      Corporate Lawyer <br>
                    </p>
                    <p><%= button_to "Contact", page4_path,
      :class => "contact-btn btn btn-defalit", :method => :get %></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                  <%= image_tag("waikit.png") %>
                </div>
                <div class="lawyer_details">
                <p>
                  Wai Kit <br>
                  Wai Kit Sdn Bhd. <br>
                  13/hour <br>
                  <hr>
                  Corporate Lawyer <br>
                </p>
                    <p><%= button_to "Contact", page4_path,
      :class => "contact-btn btn btn-defalit", :method => :get %></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                  <%= image_tag("haujie.png") %>
                </div>
                <div class="lawyer_details">
                    <p>
                      Hau Jie <br>
                      Hau Jie Sdn Bhd. <br>
                      14/hour <br>
                      <hr>
                      Corporate Lawyer <br>
                    </p>
                    <p><%= button_to "Contact", page4_path,
      :class => "contact-btn btn btn-defalit", :method => :get %></p>
                </div>
            </div>
        </div>
    </div>
</div>