
<div class='check'>
<!-- <input id="rock" name="rock" type="checkbox" value="rock music"> -->
<div class="row">
	<div class="col-sm-3">
	    <div class="card">

	        <div class="content">
	        <br>
	        	<p>Development Stage</p>
	            <div class='partnership'>
	            	<%= label_tag 'partnership agreement partnership agreement partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	            <p>Growth Stage</p>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>

	            <p>Mature Stage</p>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>

	            <p><button type="button" class="btn btn-default">Submit</button></p>
	        </div>
	    </div>
	</div>
</div>

