
<div class='check'>
<!-- <input id="rock" name="rock" type="checkbox" value="rock music"> -->
<div class="row">
	<div class="col-sm-3">
	    <div class="card">

	        <div class="content">
	        <br>


	        <select class='selection' style='font-size: 150%'>
		        <div>
		          <option value="Development">	</option>
		          <option value="Development">Development Stage</option>
		          <option value="Growth">Growth Stage</option>
		          <option value="Production">Production Stage</option>
		     	</div>
	        </select>

			<br>
			<br>

	        <div class='haujie' style='display: none; font-size: 18px;'>

	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>

	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>

	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>

	            <div class='partnership agreement'>
	            	<%= label_tag 'partnership agreement' %>
	            	<%= check_box_tag 'partnership agreement' %>
	            </div>
	            <br>
	        </div>

			<%= link_to page3_path do %>
            	<p><button type="button" class="btn btn-lg btn-primary">Submit</button></p>
            <% end %>
            
	        </div>
	    </div>
	</div>
</div>

<script>
	$('.selection').change(function(){
		$('.haujie').show();
	})
</script>

