<br>
<br>
<br>
<%= link_to page3_path, "page 3" %>
<br>

<div class='check'>
<!-- <input id="rock" name="rock" type="checkbox" value="rock music"> -->
	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>

	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>

	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>

	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>

	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>

	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>
</div>