<div class='check'>
<!-- <input id="rock" name="rock" type="checkbox" value="rock music"> -->

<div class='card'>
	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>
	<br>
	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>
	<br>
	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>
	<br>
	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>
	<br>
	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>
	<br>
	<div class='partnership agreement'>
		<%= label_tag 'partnership agreement' %>
		<%= check_box_tag 'partnership agreement' %>
	</div>
	<br>
    <%= link_to page3_path, class: "btn btn-default btn-lg" do  %>
            <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Submit</span>
    <% end %>
    <br>
    </div>
</div>

